{% extends 'product/base.html' %}

{% block content %}
{% load staticfiles %}
		
		
			
			<!-- ============================================================= SECTION – HERO ============================================================= -->
			
			<section id="hero">
				<div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">
					<div class="item" style="background-image: url({% static 'website/assets/images/art/big/36.jpg' %});">
						<div class="container">
							<div class="caption vertical-center text-right">
								
								<h1 class="fadeInLeft-1 light-color" >BRANDING &<br>WEB DEVELOPMENT</h1>
								<p class="fadeInLeft-2 light-color">everything begins with Branding and Online presence<br>we are here to create!</p>
								<div class="fadeInLeft-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
					<div class="item" style="background-image: url({% static 'website/assets/images/art/everest.jpeg' %});">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeInRight-1 dark-bg light-color"><span>SEO Top<br>of the search</span></h1>
								<p class="fadeInRight-2 dark-bg light-color">Organic Search Engine Optimization<br> is primary tool for your business’</p>
								<div class="fadeInRight-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
					<div class="item" style="background-image: url({% static 'website/assets/images/art/big/04.jpg' %});">
						<div class="container">
							<div class="caption vertical-top text-left">
								
								<h1 class="fadeIn-1" style="color:#F27A24"><span>Media<br>Content</span></h1>
								<p class="fadeIn-2" style="color:#F27A24">video is the key media<br>of communication</p>
								<div class="fadeIn-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
					<div class="item" style="background-image: url({% static 'website/assets/images/art/big/69.jpg' %});">
						<div class="container">
							<div class="caption vertical-top text-center">
								
								<h1 class="fadeInDown-1 light-color">Custom<br>content</h1>
								<p class="fadeInDown-2 light-color">We don’t use existing templates<br>We engineer it from scratch</p>
								<div class="fadeInDown-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</section>
			
			<!-- ============================================================= SECTION – HERO : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – HOW WE WORK ============================================================= -->
			
			<section id="how-we-work">
				<div class="container inner-top inner-bottom-sm">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>How we work</h1>
								<p>If you’re not online, you don’t exist...</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm text-center">
						
						<div class="col-sm-4 inner-bottom-xs"><a href="branding.html">
							<div class="icon">
								<i class="icon-flag icn lg"></i>
							</div><!-- /.icon -->
							<h2>BRANDING</h2>
							<p class="text-small">Branding is the beginning stage of any business. Our designers will help enhance your vision with the artistic touch and professional execution ...</p></a>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs"><a href="organic_seo.html">
							<div class="icon">
								<i class="icon-network icn lg"></i>
							</div><!-- /.icon -->
							<h2>ORGANIC SEO</h2>
							<p class="text-small">Organic SEO marketing is the key long-term strategy for the growth of your website and your business.  It allows for your site to show up organically on first pages ...</p></a>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs"><a href="web_presence.html">
							<div class="icon">
								<i class="icon-window icn lg"></i>
							</div><!-- /.icon -->
							<h2>ONLINE PRESENCE</h2>
							<p class="text-small">The website is the face of your company. We create stylish websites as well as web and mobile apps from idea to deployment and support...</p></a>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row text-center">
						
						<div class="col-sm-4 inner-bottom-xs"><a href="ads.html">
							<div class="icon">
								<i class="icon-newspaper icn lg"></i>
							</div><!-- /.icon -->
							<h2>ADVERTISING </h2>
							<p class="text-small">Advertising is important if you are looking for instant results and sales for your business, you need an expert to guide you ...</p></a>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs"><a href="social_media.html">
							<div class="icon">
								<i class="icon-megaphone-1 icn lg"></i>
							</div><!-- /.icon -->
							<h2>SOCIAL MEDIA</h2>
							<p class="text-small">Social Media is one of the key marketing tools in today’s world. There are millions of social media pages out there and the Consumers are ... </p></a>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs"><a href="video.html">
							<div class="icon">
								<i class="icon-video-1 icn lg"></i>
							</div><!-- /.icon -->
							<h2>VIDEO PRODUCTION</h2>
							<p class="text-small">Video content is one of the key ways to market your brand and service. We are the only Digital Marketing company with the in-house production ... </p></a>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – HOW WE WORK : END ============================================================= -->  

			<!-- ============================================================= SECTION – IMAGE BACKGROUND 2 ============================================================= -->
			
			<section id="image-background-2" class="dark-bg img-bg-soft img-bg" style="background-image: url({% static 'website/assets/images/art/image-background02.jpg' %});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-9 inner center-block text-center">
							<header>
								<h1>Video is a way to be seen!</h1>
								<p style="color:white;">We are the only Digital Marketing company with the in-house production and post-production teams, ready to produce high quality video and film content to promote your company on your website and other digital platforms.</p>
							</header>
							<a href="#" class="btn btn-large">Learn more</a>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – IMAGE BACKGROUND 2 : END ============================================================= -->
			
			<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
			
			<section id="who-we-are">
				<div class="container inner-md">
					<div class="row inner-top-xs">
						
						<div class="col-sm-6 inner-right-xs inner-bottom-xs">
							<h2>Click Brand Marketing LLC</h2>
							<p>We are all about online marketing!</p>
							<p>94 million American adults use the Internet every day</p>
							<p>63% of those them access search engines every day</p>
							<p>17.5 billion searches conducted per month in USA</p>
							<p>93% of consumers begin from a search</p>
							<p>We are here to help build and improve your brand and make sure that your company’s website can be located by your potential customers and clients!</p>
						</div><!-- /.col -->
						
						<div class="col-sm-6 inner-left-xs inner-bottom-xs">
							<h2>What we do</h2>
							<p>There are many branding companies out there.  There are even more SEO firms that promise quick results and impeccable service.  But there are very few companies that offer a well-rounded approach that actually delivers results and actually care about the development of your business.</p>
							<p>We offer variety of services such as Design, Website Engeneering, Media Producing, Search Engine Optimization and Digital Advertising.</p><p>Our goal is to help you navigate through a complex and oversaturated online world and increase your brand’s visibility.</p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
			<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->
			
			<section id="testimonials" class="light-bg img-bg-softer" style="background-image: url({% static 'website/assets/images/art/pattern-background01.jpg' %});">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-5 col-sm-8 center-block text-center">
							<header>
								<h1>What clients are saying about us</h1>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<div id="owl-testimonials" class="owl-carousel owl-outer-nav owl-ui-md">
								
								<div class="item">
									<blockquote>
										<p>the guys are professionals, everything was done right on time, no more hustlers that keep asking for money to change any small detail</p>
										<footer>
											<cite>Stefan Dunkelgrun, CEO, Bestreceivable Co.</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
								<div class="item">
									<blockquote>
										<p>REEN is a sleek, beautiful, ridiculously easy to use multipurpose template. More importantly, it’s a huge time saver for busy creatives!</p>
										<footer>
											<cite>Amber Jones</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
								<div class="item">
									<blockquote>
										<p>Been putting off creating my portfolio for several years, then I found REEN and about 30 minutes later ... I have an awesome looking portfolio. Totally love it!</p>
										<footer>
											<cite>Bill Jobs</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
							</div><!-- /.owl-carousel -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – IMAGE BACKGROUND 1 ============================================================= -->
			
			<section id="image-background-1" class="light-bg img-bg-soft img-bg" style="background-image: url({% static 'website/assets/images/art/image-background01.jpg' %});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-9 inner center-block text-center">
							<header>
								<h1>Want to work with us?</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
							</header>
							<a href="contact.html" class="btn btn-large">Get in touch</a>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – IMAGE BACKGROUND 1 : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – REASONS ============================================================= -->
			
			<section id="reasons">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>5 Reasons <br>why you should use our services</h1>
								<p><i><b>"If It Doesn't Exist on the Internet, It Doesn't Exist"</i></b> K. Goldsmith</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm">
						<div class="col-xs-12">
							<div class="tabs tabs-reasons tabs-circle-top tab-container">
								
								<ul class="etabs text-center">
									<li class="tab"><a href="#tab-1"><div>1</div>Tailor-made</a></li>
									<li class="tab"><a href="#tab-2"><div>2</div>Simplicity</a></li>
									<li class="tab"><a href="#tab-3"><div>3</div>Personal</a></li>
									<li class="tab"><a href="#tab-4"><div>4</div>Video</a></li>
									<li class="tab"><a href="#tab-5"><div>5</div>Responsibility</a></li>
								</ul><!-- /.etabs -->
								
								<div class="panel-container">
									
									<div class="tab-content" id="tab-1">
										<div class="row">
											
											<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
												<figure><i class="icon-scissors img-responsive pull-right " style="font-size: 13em; color:#F27A24;"></i></figure>
											</div><!-- /.col -->
											
											<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
												<h3>Tailor-made</h3>
												<p>Our approach is custom and we don’t use existing templates.  We engineer it from scratch based on the needs of your business and functionality. There is no such thing as cookie-cutter approach.  We will develop your vision from a sketch to a final delivery.</p>
											</div><!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									
									<div class="tab-content" id="tab-2">
										<div class="row">
											
											<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
												<figure><i class="icon-paper-plane img-responsive pull-left " style="font-size: 13em; color:#F27A24;"></i></figure>
											</div><!-- /.col -->
											
											<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
												<h3>Simplicity</h3>
												<p>Right budgeting is a cornerstone of the business, we understand that, we are businessmen too, that's why we use simple plans with real managers to explan all details/</p>
											</div><!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									
									<div class="tab-content" id="tab-3">
										<div class="row">
											
											<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
												<figure><i class="icon-user img-responsive pull-right " style="font-size: 13em; color:#F27A24;"></i></figure>
											</div><!-- /.col -->
											
											<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
												<h3>Personal</h3>
												<p>We use personal approach, you always can discuss you project with our account manager, who would explain you all nuances and find the right solution just for your business.</p>
											</div><!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-4">
										<div class="row">
											
											<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
												<figure><i class="icon-video-1 img-responsive pull-left " style="font-size: 13em; color:#F27A24;"></i></figure>
											</div><!-- /.col -->
											
											<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
												<h3>Video</h3>
												<p>We are the only Digital Marketing company with the in-house production and post-production teams, ready to produce high quality video and film content to promote your company on your website and other digital platforms.</p>
											</div><!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									
									<div class="tab-content" id="tab-5">
										<div class="row">
											<div class="col-md-8 col-sm-9 center-block text-center">
												<h3>Responsibility</h3>
												<p>We understand that you trust us with the most important in your business - reputation. That's why we don't promisse if we can't deliver on time, and don't use wrongful shortcuts.</p>
											</div><!-- /.col -->
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									 
								</div><!-- /.panel-container -->
								 
							</div><!-- /.tabs -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – REASONS : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – FAQ ============================================================= -->
			
			<section id="faq" class="light-bg">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Questions?</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
					
						<div class="col-sm-6 inner-right-sm inner-top-sm">
							
							<h3>How long are the contracts?</h3>
							<p>We generally don’t require contracts.  Our packages are primarily based on monthly basis, with simple billing process.</p>
							
							<h3>Can I switch plans later?</h3>
							<p>Absolutely.  You can upgrade or downgrade your service plan at the end of each cycle.</p>
							
							<h3>Some services listed on your site don’t have a package plan for purchase.  How can I order it?</h3>
							<p>Please email us today and we will discuss the strategy and payment options. And Yes, We can create a custom plan for you.  </p>
							
						</div><!-- /.col -->
					
						<div class="col-sm-6 inner-left-sm inner-top-sm">
							
							<h3>Is there a setup fee?</h3>
							<p>There is no set up fees.  All services are based on monthly plans of your choice.</p>
							
							<h3>Can I disscuss my goals with real people?</h3>
							<p>Yes, We belive that all businesses are unique, upon registration
							our representative will call you to discuss your project</p>
							
							<h3>Can I cancel my account at any time? Any return polocy?</h3>
							<p>You can cancel at the end of the monthly cycle. If you not satisfied, we refund 70% after first week of billing cycle.</p>
							
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – FAQ : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – CONTACT US ============================================================= -->
			
			<section id="contact-us" class="tint-bg">
				<div class="container inner-sm">
					<div class="row">
						<div class="col-sm-10 center-block text-center">
							<h1 class="single-block">Need more help? <a href="contact.html" class="btn btn-large">Contact us</a></h1>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – CONTACT US : END ============================================================= -->
			
	{% endblock %}